body{
    background-color:#1C1C1C;
    font-family:"DejaVu Sans Mono", monospace;
    margin:0px;
    padding: 0px;
    font-size: 15px;
}
#minhas-informacoes{
    margin-top: -1%;
    position: absolute;
    height: 99%;
    width: 24%;
    transition-duration: 3s;
    transition-property: all;
    border-right:solid;
    border-width: 5px;
    border-color: rgb(172, 172, 172);
}
#minhas-informacoes:hover{
    position: absolute;
    height: 90%;
    width: 24%;
    border-color: rgb(11, 197, 197);
    transition-duration: 3s;
    transition-property: all;
}
#minha-trajetoria{
    margin-left: 27%;
    height: 500px;
    border-color: honeydew;
    color: rgb(218, 214, 214);
}

#introducao-trajetoria{
    transition-duration: 3s;
    transition-property: all;
}
#introducao-trajetoria:hover{
    color:cornflowerblue;
    transition-duration: 3s;
    transition-property: all;
}

#frase{
    padding-left: 2px;
    transition-duration: 3s;
    transition-property: all;
    border-color:rgb(172, 172, 172);
}
#frase:hover{
    padding-left: 2px;
    color: cornflowerblue;
    transition-duration: 3s;
    transition-property: all;
}

.img{
    width: 200px;
    height: 200px;
    margin-left:20%;
    margin-top: 2%;
    border-style: solid;
    border-width: 5px;
    border-radius: 100%;
    transition-duration: 2s;
    transition-property: all;
    border-color: aliceblue;
}


.img:hover{
    width: 200px;
    height: 200px;
    margin-left:20%;
    margin-top: 2%;
    border-style: solid;
    border-width: 5px;
    border-radius: 100%;
    border-color: rgb(11, 197, 197);
    transition-duration: 2s;
    transition-property: all;
}


#links{
    margin-top: 10%;
}
.aYoutube{
    margin-left: 40%;
    text-decoration: none;
    color:red;
    
}

.aYoutube:hover{
    margin-left: 40%;
    text-decoration: none;
    color:red;
}

abbr{
    text-decoration: none;
}

#meus-interesses{
    background-color: #1C1C1C;
    color: aliceblue;
    padding: 5px;
    font-size: 18px;
    outline: none;
    border-style: solid;
    border-color: #1C1C1C;
    transition-duration: 3s;
    transition-property: all;
}

.selecionar{
    background-color: #1C1C1C;
    border-style: solid;
    border-color: #1C1C1C;
    outline: none;
    color: aliceblue;
    font-size: 18px;
}

#saida-do-select{
    width: 90%;
    height: 90%;
    border-style: solid;
}

#niveis{
    display: inline;
    margin-left: 15%;
    padding: 10px;
}

.red{background-color: rgb(173, 44, 44);}
.orange{background-color: rgb(189, 130, 22);}
.green{background-color: rgb(17, 114, 17);}